---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>
          <div class="atreeon-post"><span class="atreeon-post-date">{{ post.data.page.date | htmlDateString2 }}</span>
          —
              <a href='{{ post.url }}'>
                <span class="atreeon-post-title">{{ post.data.title }}</span>
              </a>
          </div>
          <div class="atreeon-post-summary">{{ post.data.summary | summary }}</div>
        </li>
      {%- endfor -%}

    </ul>
  </div>
</div>